---
import Layout from "@layouts/MainLayout.astro";
import homeImage from "@assets/img/bg_home.jpg";
---

<Layout
	title="Inicio"
	bgImageHeader={homeImage.src}
	subtitleHeader="Disfruta una deliciosa taza de café"
>
	<h1 class="bg-coffee-50 text-coffee-700">Home</h1>
</Layout>
